<!DOCTYPE html>
<html>
<head>
<title>Style</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>



<article>
  <h1>HEADLINE T300X new</h1>
</article>

<video autoplay loop id="video-background" poster=" " muted>
  <source src="{% static "1.mp4" %}" type="video/mp4">
</video>
  
 <!--  Video Author (https://vimeo.com/philfried) >

</body>
</html> 
